package ${package}.service.impl;

import ${package}.dao.${className}Dao;
import ${package}.entity.${className};
import ${package}.service.${className}Service;
import org.springframework.stereotype.Service;
import com.baomidou.mybatisplus.service.impl.ServiceImpl;

/**
 * <p>
 * ${table.comment}  服务实现类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Service
public class ${className}ServiceImpl extends  ServiceImpl<${className}Dao, ${className}> implements ${className}Service {

}
